/* Font Family */

@font-face {
    font-family: Assistant;
    font-weight: 700;
    src: url('../fonts/Assistant-Bold.ttf');
}

@font-face {
    font-family: Assistant;
    font-weight: 600;
    src: url('../fonts/Assistant-SemiBold.ttf');
}

@font-face {
    font-family: Assistant;
    font-weight: 400;
    src: url('../fonts/Assistant-Regular.ttf');
}

@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url('../fonts/Inter-Regular.ttf');
}

/* Universal Styles */

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding-top: 6.75rem;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.75rem;
    z-index: 1000;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 3rem;
    font-family: Assistant;
    font-weight: 700;
    font-size: 1.5rem;
    border: 1px solid black;
    background-color: white;
}

a {
    text-decoration: none;
}

button {
    height: 4rem;
    width: 10.25rem;
    color: #fff;
    background-color: #F25757;
    border: 2px solid #F25757;
    border-radius: 0.5rem;
    cursor: pointer;
}

table {
    border-bottom: 0.25rem solid #1C71A1;
    width: 70%;
    border-collapse: collapse;
}

table a {
    text-decoration: underline;
}

tr:nth-child(even){
    background-color: #D9D9D9;
}

th {
    font-family: Assistant;
    font-weight: 700;
    color: white;
    background-color: #1C71A1;
    text-align: center;
}

td {
    font-family: Assistant;
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
    padding-left: 2rem;
}

thead {
    height: 3rem;
}

thead, th {
    vertical-align: middle;
}

li {
    list-style-type: none;
}

footer {
    background-color: black;
    color: white;
    font-family: Assistant;
    font-weight: 400;
    font-size: 1.25rem;
    padding: 2rem 5rem;
}

address {
    line-height: 1.25rem;
}

label, input {
    font-family: Assistant;
    font-weight: 400;
}

label {
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

input {
    border-radius: 5px;
    border: 1px solid black;
    height: 5rem;
    padding-left: 2rem;
}

/* Class Styles */

.nav-center {
    display: flex;
    gap: 3rem;
}

.banner {
    width: 100%;
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-title {
    font-size: 2.5rem;
}

.sub-title {
    font-size: 1.5rem;
    line-height: 2rem;
}

.paragraphs {
    font-family: Inter;
    font-weight: 400;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: right;
    padding-left: 30%;
}

.section-1 {
    height: 35.5rem;    
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr;
}

.aside-left {
    background-color: #E7E991;
    font-family: Assistant;
    font-weight: 700;
}

.wrapper-aside-left {
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem 0% 5rem;
    gap: 8rem;
}

.titles {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.aside-right {
    background-color: #FEFFDB;
    display: flex;
    font-family: Assistant;
    font-weight: 700;
}

.wrapper-aside-right {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wrapper-aside-right h3 {
    font-size: 1.5rem;
}

.wrapper-aside-right p {
    font-family: Assistant;
    font-weight: 400;
    text-align: center;
    padding: 1.5rem 3rem;
    line-height: 1.25rem;
}

.wrapper-aside-right button {
    width: 90%;
    font-size: 1.25rem;
}

.small-image {
    height: auto;
    width: 80%;
    padding-bottom: 1rem;
}

.section-2 {
    font-family: Assistant;
    font-weight: 700;
    padding: 5rem;
}

.section-table {
    height: 35rem;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.section-3 {
    background-color: #1C71A1;
    height: 60rem;
    font-family: Assistant;
    font-weight: 400;
}

.wrapper-text {
    padding: 7.5rem 55% 7.5rem 7.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;;
}

.wrapper-text h1 {
    font-size: 3.25rem;
}

.wrapper-text h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.card-section {
    position: relative;
    bottom: 12rem;
    left: 25rem;
    height: 17.5rem;
    width: 70%;
    display: flex;
    gap: 6rem;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-text {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.section-4 {
    display: grid;
    grid-template-columns: 2fr 2.33fr;
}

.forms-location {
    display: flex;
    justify-content: space-between;
}

.forms-location * {
    width: 42.5%;
}

.wrapper-footer {
    display: grid;
    grid-template-columns: 2fr 4fr;
    place-items: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
}

.footer-left ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.footer-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 874px;
    height: 80%;
}

.dropdown-list {
    margin-top: 2rem;
    line-height: 1.5rem;
}

.icon {
    width: 10rem;
}

.icon-svg {
    mix-blend-mode: multiply;
    position: relative;
    left: 5rem;
}

.gray-text {
    color: #BDBDBD;
}

.copyright {
    text-align: center;
}

/* ID Styles */

#banner01 {
    background-image: url(../img/banner.png);
}

#banner02 {
    background-image: url(../img/section2_banner.png);
    height: 30rem;
    width: auto;
}

#banner03 {
    background-image: url(../img/section3_banner.png);
    height: 40rem;
}

#banner04 {
    background-image: url(../img/section4_banner.png);
    height: 100%;
}

#card1 {
    border: 4px solid #20DD1C45;
}

#card2 {
    border: 4px solid #E7E991;
}

#card3 {
    border: 4px solid #F88484;
}

#form {
    height: 45rem;
    flex-direction: column;
    background-color: #CECECE;
    padding: 1rem 5rem 5rem 5rem;
}

#form h2 {
    font-size: 3rem;
    color: #F25757;
    padding-bottom: 1.5rem;
}

#form button {
    margin-top: 2rem;
    width: 100%;
    font-size: 1.125rem;
}

#msg {
    height: 8rem;
}